<ul class="nav flex-column bg-dark">
  <li class="nav-item">
    <button type="button" class="btn btn-dark" aria-current="page">
      <a class="nav-link text-white" href="#">Inbox</a>
    </button>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-dark">
      <a class="nav-link text-white" href="#">Today</a>
    </button>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-dark">
      <a class="nav-link text-white" href="#">Upcoming</a>
    </button>
  </li>
  <li class="nav-item">
    <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Projects +
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Welcome 👋</a></li>
        <li><a class="dropdown-item" href="#">Try Boards</a></li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Labels +
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><p class="dropdown-item" href="#">Your list of labels will show up here.</p></li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Fliters +
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Assigned to me</a></li>
        <li><a class="dropdown-item" href="#">Priority 1</a></li>
      </ul>
    </div>
  </li>
</ul>