<ul class="nav flex-column bg-dark">
  <li class="nav-item">
    <button type="button" class="btn btn-dark" aria-current="page">
      <a class="nav-link text-white"href="#">Inbox</a>
    </button>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-dark">
      <a class="nav-link text-white"href="#">Today</a>
    </button>
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-dark">
      <a class="nav-link text-white"href="#">Upcoming</a>
    </button>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
</ul>